.btn {
  margin-right: 5px;
}
.markedAsDone {
  text-decoration: line-through;
  color: #777;
}
.tableActions {
  width: 150px;
}
.todoForm {
  padding-bottom: 60px;
}

.nav-custom{
  position: relative;
  right: 113px;
  width: 100vw; /* vw = largura --- vh = altura */
  border-radius: 0px !important; /* você não vai entrar? Então entra pq é importante */
  background-color: #009bfb;
  border-color: #009bfb;
}

.navbar-inverse .navbar-brand{
  color: #fff
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff
}

ul {
  list-style: none;
}

ul li {
  float: left;
  font-family: sans-serif;
  text-transform: uppercase;
}

ul a {  
  background: #009bfb;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  position: relative;
}

ul a:before {
  transition: .2s;
  background: #fff;
  bottom: 5px;
  content: '';
  position: absolute;
  left: 10px;
  height: 4px;
  opacity: 0;
  width: 25px;
}

ul a:hover:before {
  opacity: 1;
}



  