body
	{
		background-color:white;
	}

	* {
		padding:0px;
		margin:0px;
	}

.btn {
  margin-right: 5px;
}
.markedAsDone {
  text-decoration: line-through;
  color: #777;
}
.tableActions {
  width: 150px;
}
.todoForm {
  padding-bottom: 60px;
}

.container{
  width: auto;
  margin: 0;
  padding: 0;
}

.nav-custom{
  position: relative;
  width: 100vw; /* vw = largura --- vh = altura */
  border-radius: 0px !important; /* você não vai entrar? Então entra pq é importante */
  background-color: #009bfb;
  border-color: #009bfb;
}

.margem{
  padding: 0 0 15px 15px;
}

.table {
  width: 96%;
  max-width: 100%;
  margin-bottom: 20px;
  margin-left: 15px
}

.navbar-inverse .navbar-brand{
  color: #fff
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff
}

ul {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

ul li {
  float: left;
  font-family: sans-serif;
  text-transform: uppercase;
}

ul a {  
  background: #009bfb;
  color: #fff;
  display: block;
  text-decoration: none;
  padding: 10px 10px;
  position: relative;
}

ul a:before {
  transition: .2s;
  background: #fff;
  bottom: 5px;
  content: '';
  position: absolute;
  left: 10px;
  height: 4px;
  opacity: 0;
  width: 25px;
}

ul a:hover:before {
  opacity: 1;
}



  